<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Web page</title>
	<h:outputStylesheet name="bootstrap.css" library="css" /> 
	<h:outputStylesheet name="style.css" library="css" />
	<h:outputStylesheet name="font-awesome.min.css" library="css" />
	<h:outputScript name="modernizr.js" library="js"/>
</h:head>

<ui:insert name="header">
	<ui:include src="header.xhtml"></ui:include>
</ui:insert>


<ui:insert name="content">
	<ui:include src="content.xhtml"></ui:include>
</ui:insert>


<ui:insert name="footer">
	<ui:include src="footer.xhtml"></ui:include>
</ui:insert>


<h:outputScript name="bootstrap.min.js" library="js" />
<h:outputScript name="retina-1.1.0.js" library="js" />
<h:outputScript name="jquery.hoverdir.js" library="js" />
<h:outputScript name="jquery.hoverex.min.js" library="js" />
<h:outputScript name="jquery.prettyPhoto.js" library="js" />
<h:outputScript name="jquery.isotope.min.js" library="js" />
<h:outputScript name="custom.js" library="js" />
</html>










