<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
<title>Adicionar Livro</title>
</h:head>

<h:body>

<h:form>
	Paginas:<h:inputText value="#{LivAdd.paginas}" name="paginas" id="paginas"/>
	<br/>
	Nome do Livro:<h:inputText value="#{LivAdd.nomeLivro}" name="nomeLivro" id="nomeLivro" />
	<br/>
	Categoria:<h:inputText value="#{LivAdd.categoria}" name="categoria" id="categoria"/>
	<br/>
	<h:commandButton action="#{LivAdd.add}" value="Adicionar Livro" /> 
</h:form>
</h:body>

</html>
