<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
<title>Adicionar Livro</title>
	<link rel='stylesheet' type='text/css' href='css/bootstrap.min.css'/>
	<link rel='stylesheet' type='text/css' href='css/all.min.css'/>
    <link rel='stylesheet' type='text/css' href='css/fontawesome-free/css/all.min.css'/>
    <link rel='stylesheet' type='text/css' href='css/simple-line-icons.css'/>
    <link rel='stylesheet' type='text/css' href='css/landing-page.min.css'/>
    <link rel='stylesheet' type='text/css' href='css/cssteste.css'/>
    <link rel='stylesheet' type='text/css' href='css/main_styles.css'/>
    <link rel='stylesheet' type='text/css' href='css/responsive.css'/>
</h:head>
<h:body>

<style>
	body{
		background-color: #cdb89d;
	}
</style>

<nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
  	<a class= "navbar-brand" href= "Index.xhtml" >BookCia</a>
  	<button class= "navbar-toggler" type= "button" data-toggle= "collapse" data-target= "#navbarSupportedContent" aria-controls= "navbarSupportedContent" aria-expanded= "false" aria-label= "Toggle navigation" >
			<span class= "navbar-toggler-icon" ></span>
	</button>		
	<div class= "collapse navbar-collapse" id= "navbarSupportedContent" >
		<ul class= "navbar-nav mr-auto" >
			<li class= "nav-item active" >
			<a class= "nav-link" href= "Index.xhtml" > Home 
				<span class= "sr-only" > (current) </span>
			</a>
			</li>
			<li class= "nav-item active" >
			<a class= "nav-link" href= "AdicionarUser.xhtml" >Login 
				
			</a>
			</li>		
		</ul>
	</div>
 </nav> 
 
 <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" height="200">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <img src="img/img6.jpg" class="d-block w-100" alt="..."></img>
    </div>
  </div>
 </div>
 
<br></br>
<br></br>
<br></br>
<br></br>

<center><div class="card mb-4" style="width: 15rem;">
  <div class="card-header text-dark">Atenção!!!</div>
  <div class="card-body">    
    <p class="card-text">Ao adicionar informações, atualize a página para ver se suas informações foram armazenadas na tabela abaixo.</p>
   </div>
</div></center>

<br></br>
<br></br>
<br></br>

<center>
<div class="card text-dark bg-light mb-4" style="width: 30rem;">
	<center><div class="card-header  border-light"><h3 style="color:black;">Adicionar informações</h3></div></center>	
		<div class="card-body">
			<h:form enctype="multipart/form-data" class="register-form"> 
				<div class="form-group">
			    	<div class="form-group">	
						Nº de páginas: <h:inputText value="#{LivBean.paginas}" id="paginas" name="paginas" class="form-control"/><br/>
						Nome do Livro: <h:inputText value="#{LivBean.nomeLivro}" id="nomeLivro" name="nomeLivro" class="form-control"/><br/>
						Descrição: <h:inputText value="#{LivBean.descricao}" id="descricao" name="descricao" class="form-control"/><br/>
						<h:commandButton class="btn btn-primary" action="#{LivBean.adicionar()}" value="Adicionar"/> 
					</div>
				</div>				
			</h:form>
		</div>
</div>
</center>
	
<br></br>

<center><h3 style="color:white;">Dados que foram armazenados.</h3></center>
<div class="container">
	<div class="row">
    	<div class="col">       
				<h:form>
					<h:dataTable value="#{LivBean.getLista()}" var="consulta" class="table table-light"  width="320" height="200">
						<h:column>
							<f:facet name="header">Id</f:facet>
							#{consulta.id} 
						</h:column>
						<h:column>
							<f:facet name="header">Nº de Páginas</f:facet>
							#{consulta.paginas}
						</h:column>
						<h:column>
							<f:facet name="header">Nome do Livro</f:facet>
							#{consulta.nomeLivro}
						</h:column>
						<h:column>
							<f:facet name="header">Descrição</f:facet>
							#{consulta.descricao}
						</h:column>
						<h:column>
							<f:facet name="header">Editar</f:facet>
							<a href="EditarLiv.xhtml?id=#{consulta.id}">Editar</a>
						</h:column>
						<h:column>
							<f:facet name="header">Remover</f:facet>
							<h:commandLink value="Remover" action="#{LivBean.remover(consulta.id)}"/>
						</h:column>
					</h:dataTable>
				</h:form>
		</div>
	</div>
</div>	


<script src='js/jquery-3.2.1.min.js'></script>
  <script src='js/bootstrap.min.js'></script>
  <script src='js/TweenMax.min.js'></script>
  <script src='js/ScrollMagic.min.js'></script>
  <script src='js/animation.gsap.min.js'></script>
  <script src='js/custom.js'></script>
  <script src='js/jquery.js'></script>
  <script src='js/popper.min.js'></script>
  <script src='js/bootstrap.min.js'></script>
  <script src='js/bootstrap.bundle.min.js'></script>
  <script src='vendor/jquery/jquery.min.js'></script>
  <script src='vendor/bootstrap/js/bootstrap.bundle.min.js'></script>

</h:body>
</html>
