<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<title>Editar Usuário</title>
</h:head>
<f:metadata>	
	<f:event listener="#{UserBean.carregarId(param['id'])}" type ="preRenderView"> </f:event>
</f:metadata>
<h:body>
	<h:form>
		Nome: <h:inputText  p:placeholder="nome" value="#{UserBean.nome}" id="nome" name="nome"/>
		<br/>
		Senha: <h:inputSecret  p:placeholder="senha" value="#{UserBean.senha}" id="senha" name="senha"/>
		<br/>
		<h:inputHidden id="id" value="#{UserBean.id}" />
		<br />
		<h:commandButton action="#{UserBean.editar()}" value="editar"/>
	</h:form>
	
</h:body>

</html>
