<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
<title>Editar Livro</title>
	<link rel='stylesheet' type='text/css' href='css/bootstrap.min.css'/>
	<link rel='stylesheet' type='text/css' href='css/all.min.css'/>
    <link rel='stylesheet' type='text/css' href='css/fontawesome-free/css/all.min.css'/>
    <link rel='stylesheet' type='text/css' href='css/simple-line-icons.css'/>
    <link rel='stylesheet' type='text/css' href='css/landing-page.min.css'/>
    <link rel='stylesheet' type='text/css' href='css/cssteste.css'/>
    <link rel='stylesheet' type='text/css' href='css/main_styles.css'/>
    <link rel='stylesheet' type='text/css' href='css/responsive.css'/>
</h:head>

<f:metadata>
	<f:event listener="#{LivBean.carregarId(param['id'])}" type="preRenderView"></f:event>
</f:metadata>

<h:body>

<style>
	body{
		background-color: #e5961d;
	}
</style>

<nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
  	<a class= "navbar-brand" href= "Index.xhtml" >BookCia</a>
  	<button class= "navbar-toggler" type= "button" data-toggle= "collapse" data-target= "#navbarSupportedContent" aria-controls= "navbarSupportedContent" aria-expanded= "false" aria-label= "Toggle navigation" >
			<span class= "navbar-toggler-icon" ></span>
	</button>		
	<div class= "collapse navbar-collapse" id= "navbarSupportedContent" >
		<ul class= "navbar-nav mr-auto" >
			<li class= "nav-item active" >
			<a class= "nav-link" href= "Index.xhtml" > Home 
				<span class= "sr-only" > (current) </span>
			</a>
			</li>
			<li class= "nav-item active" >
			<a class= "nav-link" href= "AdicionarUser.xhtml" >Login 
				
			</a>
			</li>		
		</ul>
	</div>
 </nav> 
 
 <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" height="200">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <img src="img/img7.jpg" class="d-block w-100" alt="..."></img>
    </div>
  </div>
 </div>
 
<br></br>
<br></br>
<br></br>
<br></br>
<center>
<div class="card text-dark bg-light mb-4" style="width: 30rem;">
	<center><div class="card-header  border-light"><h3 style="color:black;">Editar informações</h3></div></center>	
		<div class="card-body">
			<h:form> 
				<div class="form-group">
			    	<div class="form-group">			    		
						Nº de páginas: <h:inputText  value="#{LivBean.paginas}" id="paginas" name="paginas" class="form-control"/><br/>
						Nome do Livro: <h:inputText value="#{LivBean.nomeLivro}" id="nomeLivro" name="nomeLivro" class="form-control" /><br/>
						Descrição: <h:inputText value="#{LivBean.descricao}" id="descricao" name="descricao" class="form-control" /><br/>
						<h:inputHidden id="id" value="#{LivBean.id}" /><br/>
						<h:commandButton class="btn btn-primary" action="#{LivBean.editar()}" value="Editar"/>	 						
					</div>
				</div>
			</h:form>
		</div>
</div>
</center>		
					
	
<script src='js/jquery-3.2.1.min.js'></script>
  <script src='js/bootstrap.min.js'></script>
  <script src='js/TweenMax.min.js'></script>
  <script src='js/ScrollMagic.min.js'></script>
  <script src='js/animation.gsap.min.js'></script>
  <script src='js/custom.js'></script>
  <script src='js/jquery.js'></script>
  <script src='js/popper.min.js'></script>
  <script src='js/bootstrap.min.js'></script>
  <script src='js/bootstrap.bundle.min.js'></script>
  <script src='vendor/jquery/jquery.min.js'></script>
  <script src='vendor/bootstrap/js/bootstrap.bundle.min.js'></script>

</h:body>
</html>
