<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" >

<h:head>
<title>Index</title>
	<link rel='stylesheet' type='text/css' href='css/bootstrap.min.css'/>
	<link rel='stylesheet' type='text/css' href='css/all.min.css'/>
    <link rel='stylesheet' type='text/css' href='css/fontawesome-free/css/all.min.css'/>
    <link rel='stylesheet' type='text/css' href='css/simple-line-icons.css'/>
    <link rel='stylesheet' type='text/css' href='css/landing-page.min.css'/>
    <link rel='stylesheet' type='text/css' href='css/cssteste.css'/>
    <link rel='stylesheet' type='text/css' href='css/main_styles.css'/>
    <link rel='stylesheet' type='text/css' href='css/responsive.css'/>
</h:head>
<h:body >

<style>
	body{
		background-color: #060100;
	}
</style>

<nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
  	<a class= "navbar-brand" href= "Index.xhtml" >BookCia</a>
  	<button class= "navbar-toggler" type= "button" data-toggle= "collapse" data-target= "#navbarSupportedContent" aria-controls= "navbarSupportedContent" aria-expanded= "false" aria-label= "Toggle navigation" >
			<span class= "navbar-toggler-icon" ></span>
	</button>		
	<div class= "collapse navbar-collapse" id= "navbarSupportedContent" >
		<ul class= "navbar-nav mr-auto" >
			<li class= "nav-item active" >
			<a class= "nav-link" href= "Index.xhtml" > Home 
				<span class= "sr-only" > (current) </span>
			</a>
			</li>			
			<li class= "nav-item active" >
			<a class= "nav-link" href= "AdicionarUser.xhtml" >Login 
				
			</a>
			</li>
			
	 	<h:commandButton class="btn btn-light" action="#{Deslogar.deslogar()}" value="Sair"> </h:commandButton>
	 		
		</ul>
	</div>
 </nav> 

<div class= 'bd-example'>
	<div id='carouselExampleCaptions' class='carousel slide' data-ride='carousel'>
	<ol class='carousel-indicators'>
    	<li data-target='#carouselExampleCaptions' data-slide-to='0' class='active'></li>
    	<li data-target='#carouselExampleCaptions' data-slide-to='1'></li>
    	<li data-target='#carouselExampleCaptions' data-slide-to='2'></li>
	</ol>
  	<div class='carousel-inner'>
    <div class='carousel-item active'>
    	<img src='img/img.jpg' class='d-block w-100'></img>
    		<div class='carousel-caption d-none d-md-block'>
    	    	<h2 class='a'>Organize sua biblioteca.</h2>
       			<p>
       				<h4 class='b'> Guarde o livro que gostar para ler depois.</h4>
       			</p>
    		</div>
    </div>
    
    <div class='carousel-item'>
    	<img src='img/img2.jpg' class='d-block w-100'></img>
      		<div class='carousel-caption d-none d-md-block'>
        		<h2 class='a'>Cuidados com livros.</h2>
        		<p>
        			<h4 class='b'>Dicas imperdiveis.</h4>        			
        		</p>
    		</div>
    </div>
    
    <div class='carousel-item'>
    	<img src='img/img3.jpg' class='d-block w-100'></img>
      		<div class='carousel-caption d-none d-md-block'>
        		<h2 class='a'> Escolha a sua categoria preferida.</h2>
        		<p> 
        			<h4 class='b'> Desfrute um novo mundo.</h4> 
        		</p>
      		</div>
    </div>
</div>

<a class='carousel-control-prev' href='#carouselExampleCaptions' role='button' data-slide='prev'>
	<span class='carousel-control-prev-icon' aria-hidden='true'></span>
	<span class='sr-only'>Previous</span>
</a>
<a class='carousel-control-next' href='#carouselExampleCaptions' role='button' data-slide='next'>
    <span class='carousel-control-next-icon' aria-hidden='true'></span>
    <span class='sr-only'>Next</span>
</a>
</div>
</div>

<br></br>
<br></br>
<br></br>
<br></br>

<h3 style="color:white;">Alguns destaques.</h3>

<br></br>
<br></br>

<div class="card-deck">
  <div class="card text-white bg-light mb-4">
    <div class="card-body">
      <h5 class="card-title text-dark">A culpa</h5>
      <center><img src="img/livroaculpa.jpg" width="300" height="240" class="img-fluid" alt="Responsive image"></img></center>
      <br></br>
      <br></br>
      <p>wmsdckjhnfuiehrwijamcjdnaljoxsabccdh</p>
      <br></br>
      <br></br>
      <center><button type="button" class="btn btn-warning"><a style="color:white;" href="AdicionarLiv.xhtml">Editar</a></button></center>
    </div>
  </div>
  <div class="card text-white bg-ligth mb-4">
    <div class="card-body">
      <h5 class="card-title text-dark">O diário de um banana</h5>
	  <center><img src="img/livrodiario.jpg" width="320" height="200" class="img-fluid" alt="Responsive image"></img></center>
	  <br></br>
	  <br></br>	
	  <p>wmsdckjhnfuiehrwijamcjdnaljoxsabccdh</p>
	  <br></br>
	  <br></br>
	  <center><button type="button " class="btn btn-warning"><a style="color:white;" href="AdicionarLiv.xhtml">Editar</a></button></center>
    </div>
  </div>
  <div class="card text-white bg-light mb-4">
    <div class="card-body">
      <h5 class="card-title text-dark">A cabana</h5>
      <center><img src="img/livroacabana.jpg" width="320" height="200" class="img-fluid" alt="Responsive image"></img></center>
      <br></br>
      <br></br>
      <p>wmsdckjhnfuiehrwijamcjdnaljoxsabccdh</p>
      <br></br>
      <br></br>
      <center><button type="button" class="btn btn-warning"><a style="color:white;" href="AdicionarLiv.xhtml">Editar</a></button></center>
    </div>
  </div>
</div>

<br></br>
<br></br>
<br></br>
<br></br>

<h3 style="color:white;">Cuide bem dos seus livros.</h3>

<br></br>
<br></br>

<div class="card">
  <div class="card-body">
  <center><h3>Dicas Simples</h3></center>
  	<div class="row">
    	<div class="col-4">
    		<video src="img/video1.mp4" type="video.mp4" width="400" height="240" controls="controls" autoplay="autoplay"></video>
    		<button type="button" class="btn btn-warning align-right" ><a style="color:white;" href="AdicionarVid.xhtml">Editar</a></button>
		</div>
  	
   		<div class="col-sm-8">
    		<ol>
    			<li style="color:black;">Quando comprar um livro novo ou pegar um na biblioteca, segure-o não pela lombada, e sim pelo lado em que o abre.</li>
    			<li style="color:black;">Abra o livro com cuidado, evitando um ângulo maior do que 100º. </li>
    			<li style="color:black;">Não use marca texto ou caneta para sublinhá-lo. </li>
    			<li style="color:black;">Coma e beba depois de manusear o livro.</li>
    			<li style="color:black;">O livro é seu.</li>
    			<li style="color:black;">O melhor jeito de guardar o livro é deixá-lo deitado, na posição horizontal. </li>
    			<li style="color:black;">Abra o livro e tire o pó dele todo mês, ou a cada dois meses.</li>
    			<li style="color:black;">Depois de tirar o pó, deixe-o sobre uma mesa alta e segura por mais de uma hora. </li>
    			<li style="color:black;">Certifique-se de a biblioteca, a sala ou o lugar onde colocar o seu livro não seja úmido.</li>
    			<li style="color:black;">Se vir marcas de cópias e pingos pretos, saiba que eles ficarão para sempre na página</li>
    		</ol>
    		<button type="button" class="btn btn-warning right" ><a style="color:white;" href="AdicionarTxt.xhtml">Editar</a></button>
   		</div>
 		</div>
   	</div>	
 </div>  

<br></br>
<br></br>
<br></br>
<br></br>




<script src='js/jquery-3.2.1.min.js'></script>
  <script src='js/bootstrap.min.js'></script>
  <script src='js/TweenMax.min.js'></script>
  <script src='js/ScrollMagic.min.js'></script>
  <script src='js/animation.gsap.min.js'></script>
  <script src='js/custom.js'></script>
  <script src='js/jquery.js'></script>
  <script src='js/popper.min.js'></script>
  <script src='js/bootstrap.min.js'></script>
  <script src='js/bootstrap.bundle.min.js'></script>
  <script src='vendor/jquery/jquery.min.js'></script>
  <script src='vendor/bootstrap/js/bootstrap.bundle.min.js'></script>

</h:body>	
</html>